.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.form {
    width: 300px;
    margin: 30px 0px 30px;
    padding: 30px;
    box-shadow: #444 1px 1px 10px 1px;
    padding-bottom: 70px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=submit],
.login-button {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    margin: 10px 0px 30px;
    border: 1px solid #bbb;
}

.result {
    background-color: #ddd;
}

input[type=submit],
.login-button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}

.genre-checkbox {
    display: flex;
    margin: 10px;
}